<a href="https://colab.research.google.com/github/Anusree-Selvan/Learn.Py/blob/main/TASK%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [3]:
#please write the code below this line
l=[23, 45, 25, 78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
print(l[::2])
del l[5:8]
print("  ")
print(l)

[23, 25, 90, 22, 99, 9, 32]

[23, 45, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [5]:
#please write the code below this line
lowerCase=['a', 'e', 'i', 'o', 'u']
list = [x.upper() for x in lowerCase]
print(list)

['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [6]:
#please write the code below this line
fruits = ("banana", "cherry", "apple", "grapes")
(yellow, *red, green) = fruits
print("Green :", green)
print("Red :", red)
print("Yellow :", yellow)

Green : grapes
Red : ['cherry', 'apple']
Yellow : banana